body
{
	background-image: url("http://www.freeimageslive.com/galleries/nature/weather/pics/sunny_clouds_8092612.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	font-family: "Arial";
	font-size: 16px;
}

#mainTable
{
	border: solid;
	margin-top: 5%;
	color: black;
	background-color: rgba(255,255,255,0.5);
	padding: 25px;
	border-radius: 3px;
	border: 1px solid rgb(50,50,50);
}

#city
{
	margin: 5px;
	border: 1px solid rgba(50,50,50);
	border-radius: 3px;
	font-size: 15px;
	width: 180px;
}

#countryCode
{
	margin: 5px;
	border: 1px solid rgb(50,50,50);
	border-radius: 3px;
	width: 200px;
}

#get
{
	background-color: rgba(255,255,255,0.6); 
    color: black; 
    border: 1px solid rgb(50,50,50);
    transition-duration: 0.2s;
    border-radius: 3px;
    margin: 10px;
    padding: 5px;
}

#get:hover
{
    background-color: rgb(64,108,169);
    color: white;
}

.controls
{
	text-align: center;
	padding-top: 15px;
}

#detailsTable tr:nth-child(even) {background: rgba(114,148,194,0.6); color: black;}
#detailsTable tr:nth-child(odd) {background: rgba(173,216,230,0.6); color: black;}
#detailsTable {margin-top: 20px;}

td
{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
}

.table 
{
	width: 100%;
}


.error
{
	color: red;
	font-weight: bold;
	text-align: center;
}

#details
{
	margin: 5px;
	margin-top: 10px;
}

#more
{
	cursor: pointer;
}

#less
{
	cursor: pointer;
}

.more
{
	text-align: center;
}

#moreDetails tr:nth-child(even) {background: rgba(114,148,194,0.6); color: black;}
#moreDetails tr:nth-child(odd) {background: rgba(173,216,230,0.6); color: black;}