body
{
	background-image: url("http://www.freeimageslive.com/galleries/nature/weather/pics/sunny_clouds_8092612.jpg");
	background-attachment: fixed;
	font-family: "Arial";
	font-size: 16px;
}

#mainTable
{
	border: solid;
	margin-top: 5%;
	color: black;
	background-color: rgba(255,255,255,0.5);
	padding: 15px;
}

#city
{
	margin: 5px;
}

#countryCode
{
	margin: 5px;
}

#get
{
	background-color: white; 
    color: black; 
    border: 2px solid rgb(64,108,169);
    transition-duration: 0.2s;
    border-radius: 3px;
    margin: 5px;
    padding: 2px;
}

#get:hover
{
    background-color: rgb(64,108,169);
    color: white;
}

#getTD
{
	text-align: right;
}

#detailsTD
{
	text-align: center;
}

#detailsTable tr:nth-child(even) {background: rgba(114,148,194,0.6); color: black;}
#detailsTable tr:nth-child(odd) {background: rgba(173,216,230,0.6); color: black;}
#detailsTable {padding: 10px;}

tr 
{
	padding: 5px;
}
